.feedback
  position: relative
  scroll-margin: 120px
  max-width: 360px
  width: 100%
  margin: 0 auto
  color: $white
  border-left: 1px solid $lightgrey
  border-right: 1px solid $lightgrey
  @media (max-width: $width-mobile)
    scroll-margin: 70px
    border: none
  @media (min-width: $width-mobile)
    &::before,
    &::after
      content: ""
      position: absolute
      background-color: $lightgrey
      width: 300vw
      height: 1px
      left: -300%
    &::before
      top: 0
    &::after
      bottom: 0


  &__container
    padding: 32px
    @media (max-width: $width-mobile)
      padding: 0 16px

  &__title
    @media (min-width: $width-mobile)
      text-align: center
    &.h-line::after
      display: none
      @media (max-width: $width-mobile)
        display: block

  &__form
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    gap: 20px
    @media (max-width: $width-mobile)
      gap: 16px
    label
      font-size: 18px
      width: 100%
      @media (min-width: $width-mobile)
        max-width: 320px
    input
      margin-top: 8px
      width: 100%
      display: block
      padding: 8px
      min-height: 42px
      border: 1px solid $lightgrey
      font-size: 16px
      border-radius: 0
      @media (min-width: $width-mobile)
        min-height: 48px
      &::placeholder
        font-variant-numeric: lining-nums

  button
    font-size: 20px
    padding: 8px
    min-height: 48px
    width: 100%
    max-width: 290px
    font-weight: 500
    margin-top: 8px
    @media (max-width: $width-mobile)
      max-width: initial
      margin-top: 16px
      font-size: 18px
