section.accordion#faq
    .accordion__container.container

        h2.title-section Часто задаваемые вопросы

        ol.accordion__list

            li.accordion__item
                p.accordion__title Как забронировать тур?
                p.accordion__content Для детей младше 8 лет посещение крыши запрещено. Дети старше 8 лет сопровождаются взрослыми, которые несут за них полную ответственность.