-
    const mks_a03= {
        title: "МКС-А03",
        images: ["./assets/img/equipment/mks-a03/01.jpg",
            "./assets/img/equipment/mks-a03/02.jpg",
            "./assets/img/equipment/mks-a03/03.jpg",
            "./assets/img/equipment/mks-a03/04.jpg"],

        desc: [
            "Портативный радиометр-спектрометр с функцией поиска и локализации источников ионизирующего излучения и идентификации гамма-радионуклидов.",
                "Высокая чувствительность, удобство и простота использования позволяет существенно сократить время на реагирование и принятие решения."
        ],

        appointment: [
          "МКС-А03 является основным ручным прибором, используемым в  России и за рубежом на таможенных и пограничных постах, а также в составе комплексов антитеррористической защиты объектов массового скопления людей и на объектах транспортной инфраструктуры для подтверждения наличия и идентификации источников ионизирующего излучения в транспорте, грузах, у пешеходов и в багаже.",
           "Прибор может использоваться для углубленной  проверки объекта, вызвавшего срабатывание сигнализации стационарного радиационного монитора."
        ],
    }


+productPage(mks_a03)
