section.product-page
    .product-page__container.container.v-line
        h1.product-page__title.h-line ЯНТАРЬ-А

        .product-page__grid
            .product-page__slider-wrap.swiper
                .product-page__slider.swiper-wrapper

                    img.product-page__slide.swiper-slide(src="./assets/img/equipment/yantar-a/01.jpg")
                    img.product-page__slide.swiper-slide(src="./assets/img/equipment/yantar-a/02.jpg")
                    img.product-page__slide.swiper-slide(src="./assets/img/equipment/yantar-a/03.jpg")
                    img.product-page__slide.swiper-slide(src="./assets/img/equipment/yantar-a/04.jpg")

                .swiper-pagination

                .swiper-navigation
                    .slider-nav__prev
                    .slider-nav__next

            a.button.button.button--accent.product-page__button.product-page__button--mobile(href="#feedback") Заказать

            .product-page__content

                .product-page__appointment.product-page-appointment
                    h2 Назначение
                    .product-page-appointment__text
                        p Стационарная система обнаружения делящихся и радиоактивных материалов при контроле транспортных средств.
                        p Автоматическое обнаружение источников гамма- и нейтронного излучения, перемещаемых через зону контроля в транспортных средствах. Радиационные портальные мониторы оснащены гамма- и нейтронным каналами регистрации и устанавливаются на автомобильных контрольно-пропускных пунктах различного назначения, конфигурации и пропускной способности.

                .product-page__desc.product-page-desc
                    h2 Описание
                    .product-page-desc__text
                        p Высокая чувствительность, надежность, доказанная многолетней эксплуатацией в разных климатических зонах земного шара, простота использования и технического обслуживания сделали радиационные мониторы серии «Янтарь-А » наиболее популярными у потребителей.

                    a.button.button--accent.product-page__button.product-page__button--tablet(href="#feedback") Заказать
