-
    const rm_1sm_02 = {
        title: "РМ-1СМ-02",
        titleFull: "Радиационный монитор РМ-1СМ-02",
        images: ["./assets/img/equipment/rm-1sm-02/01.jpg",
            "./assets/img/equipment/rm-1sm-02/02.jpg",
            "./assets/img/equipment/rm-1sm-02/03.jpg",
            "./assets/img/equipment/rm-1sm-02/04.jpg"],

        desc: [
            "Обнаружение делящихся и радиоактивных материалов при контроле интенсивных потоков пешеходов.",
        ],

        appointment: [
          "Автоматическое обнаружение источников гамма-излучения, перемещаемых пешеходом через зону контроля, в непрерывном режиме. Радиационный монитор «РМ-1СМ-02» используется для радиационного контроля интенсивных потоков пешеходов в местах массового скопления людей, на объектах транспортной инфраструктуры, в офисах и учреждениях."
        ],
    }


+productPage(rm_1sm_02)
