-
 const rm_1sm_01 = {
     title: "РМ-1СМ-01",
     titleFull: "Радиационный монитор РМ-1СМ-01",
     images: ["./assets/img/equipment/rm-1sm-01/01.jpg",
         "./assets/img/equipment/rm-1sm-01/02.jpg",
         "./assets/img/equipment/rm-1sm-01/03.jpg"],

     desc: [
         "Автоматическое обнаружение источников гамма-излучения, перемещаемых пешеходом через зону контроля.",
     ],

     appointment: [
         "Обнаружение делящихся и радиоактивных материалов при контроле потоков пешеходов через устройство контроля доступа.",
         "Радиационный монитор «РМ-1СМ-01» используется для радиационного контроля потоков пешеходов на объектах транспортной инфраструктуры, в офисах и учреждениях.",
         "Радиационный монитор предназначен для монтажа в устройствах контроля доступа (турникеты), устанавливаемых на входах в здание.",
     ],
 }


+productPage(rm_1sm_01)
