-
    const rm_s_sn = {
        title: "РМ-С/СН",
        images: ["./assets/img/equipment/rm-s-sn/01.jpg",
            "./assets/img/equipment/rm-s-sn/02.jpg",
            "./assets/img/equipment/rm-s-sn/03.jpg",
            "./assets/img/equipment/rm-s-sn/04.jpg"],

        desc: [
            "Обнаружение делящихся и радиоактивных материалов при контроле транспортных средств.",
        ],

        appointment: [
            "Автоматическое обнаружение источников гамма- и нейтронного излучения в грузах, перемещаемых через зону контроля с помощью транспортных средств.",
            "Радиационные мониторы серии «РМ-С/СН» имеют универсальное назначение и применяются для организации радиационного контроля на объектах различного типа, обеспечивая необходимые уровни обнаружения делящихся и радиоактивных веществ в соответствии с требованиями заказчика к эффективной зоне контроля, геометрии объектов и скорости."
        ],
    }


+productPage(rm_s_sn)
