-
    const yantar_2l = {
        title: "ЯНТАРЬ-2Л",
        titleFull: "Портальный монитор ЯНТАРЬ-2Л",
        images: ["./assets/img/equipment/yantar-2l/01.jpg",
            "./assets/img/equipment/yantar-2l/02.jpg",
            "./assets/img/equipment/yantar-2l/03.jpg",
            "./assets/img/equipment/yantar-2l/04.jpg"],

        appointment: [
            "Автоматическое обнаружение источников гамма-излучения, перемещаемых через зону контроля в различных транспортных средствах, включая железнодорожные вагоны и большегрузные автомобили.",
            "Высокочувствительные к гамма-излучению радиационные мониторы «Янтарь-2Л» были специально разработаны для контроля сырья, продукции и отходов металлургического производства, но также успешно используются на комбинатах по утилизации отходов, на предприятиях по добыче и переработке ядерных материалов, АЭС и прочих гражданских и военных объектах."
        ],

        desc: [
            "Стационарная система обнаружения радиоактивных материалов при контроле грузов в транспортных средствах.",
        ],
    }


+productPage(yantar_2l)