-
    const yantar_g = {
        title: "ЯНТАРЬ-Ж",
        images: ["./assets/img/equipment/yantar-g/01.jpg",
            "./assets/img/equipment/yantar-g/02.jpg",
            "./assets/img/equipment/yantar-g/03.jpg",
            "./assets/img/equipment/yantar-g/04.jpg"],

        desc: [
          "Стационарная система обнаружения делящихся и радиоактивных материалов в железнодорожном транспорте.",
        ],

        appointment: [
            "Автоматическое обнаружение источников гамма- и нейтронного излучения, перемещаемых через зону контроля на железнодорожных пунктах пропуска.",
            "Радиационные портальные мониторы оснащены гамма- и нейтронным каналами регистрации и устанавливаются вдоль железнодорожного полотна.",
            "Высокая чувствительность, надежность, простота использования и технического обслуживания позволяют успешно эксплуатировать радиационные мониторы серии «Янтарь-Ж» на железнодорожных пунктах пропуска различного назначения, конфигурации и пропускной способности в самых разных климатических условиях.",
        ],
    }


+productPage(yantar_g)