section.hero
    .hero__container.container
        h1.hero__title Системы <br> радиационного <br> контроля
        p.hero__text Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora
        a.hero__button(href="#feedback") Заказать