section.hero
    .hero__container.container
        h1.hero__title Системы <br> радиационного <br> контроля
        p.hero__text Оборудование напрямую от производителя вместе с установкой
        a.hero__button.button.button--accent(href="#feedback") Заказать