section.portfolio
    .portfolio__container.container
        h2.title-section.h-line Портфолио

        ul.portfolio__list

            li.portfolio__item.portfolio-item
                h3.portfolio-item__title «Росатом»
                ul.portfolio-item__locations
                    li.portfolio-item__location Курская атомная станция
                    li.portfolio-item__location Балаковская атомная станция
                    li.portfolio-item__location Калининская атомная станция
                ul.portfolio-item__equipments
                    li.portfolio-item__equipment-title Поставка оборудования:
                    li.portfolio-item__equipment Системы радиационного контроля
                    li.portfolio-item__equipment Поставка систем радиационного мониторинга ТСРМ
                    li.portfolio-item__equipment Блок детектирования ТСРМ 82.100
                    li.portfolio-item__equipment Гном 2

            li.portfolio__item.portfolio-item
                h3.portfolio-item__title «Чистый город»
                ul.portfolio-item__locations
                    li.portfolio-item__location Ярославль
                ul.portfolio-item__equipments
                    li.portfolio-item__equipment Техническое обслуживание систем радиационного контроля на полигоне твердых бытовых отходов

            li.portfolio__item.portfolio-item
                h3.portfolio-item__title «Севмаш»
                ul.portfolio-item__locations
                    li.portfolio-item__location Северодвинск
                ul.portfolio-item__equipments
                    li.portfolio-item__equipment Поставка оборудования систем радиационного мониторинга ТСРМ
                    li.portfolio-item__equipment Монтажные работы
                    li.portfolio-item__equipment Пусконаладочные работы

        button.button.button--accent Заказать