section.equipment.scroll-margin#equipment
  .equipment__container.container.v-line
    h2.title-section.h-line Оборудование
    
    .equipment__catalog.catalog-equipment
    
      a.catalog-equipment__item(href="yantar-a.html")
        h3.catalog-equipment__title ЯНТАРЬ-А
        img.catalog-equipment__img(src="./assets/img/equipment/01.png" alt="ЯНТАРЬ-А")

      a.catalog-equipment__item(href="yantar-2l.html")
        h3.catalog-equipment__title ЯНТАРЬ-2Л
        img.catalog-equipment__img(src="./assets/img/equipment/02.png" alt="ЯНТАРЬ-2Л")

      a.catalog-equipment__item(href="yantar-s-sn.html")
        h3.catalog-equipment__title ЯНТАРЬ-С/СН
        img.catalog-equipment__img(src="./assets/img/equipment/03.png" alt="ЯНТАРЬ-С/СН")

      a.catalog-equipment__item(href="yantar-g.html")
        h3.catalog-equipment__title ЯНТАРЬ-Ж
        img.catalog-equipment__img(src="./assets/img/equipment/04.png" alt="ЯНТАРЬ-Ж")

      a.catalog-equipment__item(href="rm-1sm-01.html")
        h3.catalog-equipment__title РМ-1СМ-01
        img.catalog-equipment__img(src="./assets/img/equipment/05.png" alt="РМ-1СМ-01")

      a.catalog-equipment__item(href="rm-1sm-02.html")
        h3.catalog-equipment__title РМ-1СМ-02
        img.catalog-equipment__img(src="./assets/img/equipment/06.png" alt="РМ-1СМ-02")

      a.catalog-equipment__item(href="rm-1sm-03.html")
        h3.catalog-equipment__title РМ-1СМ-03
        img.catalog-equipment__img(src="./assets/img/equipment/07.png" alt="РМ-1СМ-03")

      a.catalog-equipment__item(href="rm-s-sn.html")
        h3.catalog-equipment__title РМ-С/СН
        img.catalog-equipment__img(src="./assets/img/equipment/08.png" alt="РМ-С/СН")

      a.catalog-equipment__item(href="mks-a03.html")
        h3.catalog-equipment__title МКС-А03
        img.catalog-equipment__img(src="./assets/img/equipment/09.png" alt="МКС-А03")

      a.catalog-equipment__item(href="mks-a07.html")
        h3.catalog-equipment__title МКС-А07
        img.catalog-equipment__img(src="./assets/img/equipment/10.png" alt="МКС-А07")
