.equipment
  .catalog-equipment
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 16px
    @media(max-width: $width-mobile)
      grid-template-columns: repeat(2, 1fr)

    &__item
      position: relative
      display: flex
      flex-direction: column
      gap: 8px
      border: 1px solid black
      padding: 8px

    &__img
      max-width: 350px
      width: 80%
      object-fit: cover

    &__link
      position: absolute
      right: 16px
      bottom: 16px
      background-color: lightgrey
      @media(max-width: $width-mobile)
        display: none
      
