section.equipment#equipment
  .equipment__container.container.v-line
    h2.title-section.h-line Оборудование
    
    .equipment__catalog.catalog-equipment
    
      a.catalog-equipment__item(href="yantar-a.html")
        h3.catalog-equipment__title ЯНТАРЬ-А
        img.catalog-equipment__img(src="./assets/img/equipment/01.png")

      a.catalog-equipment__item(href="yantar-2l.html")
        h3.catalog-equipment__title ЯНТАРЬ-2Л
        img.catalog-equipment__img(src="./assets/img/equipment/02.png")

      a.catalog-equipment__item(href="yantar-s-sn.html")
        h3.catalog-equipment__title ЯНТАРЬ-С/СН
        img.catalog-equipment__img(src="./assets/img/equipment/03.png")

      a.catalog-equipment__item(href="yantar-g.html")
        h3.catalog-equipment__title ЯНТАРЬ-Ж
        img.catalog-equipment__img(src="./assets/img/equipment/04.png")

      a.catalog-equipment__item(href="rm-1sm-01.html")
        h3.catalog-equipment__title РМ-1СМ-01
        img.catalog-equipment__img(src="./assets/img/equipment/05.png")

      a.catalog-equipment__item(href="rm-1sm-02.html")
        h3.catalog-equipment__title РМ-1СМ-02
        img.catalog-equipment__img(src="./assets/img/equipment/06.png")

      a.catalog-equipment__item(href="rm-1sm-03.html")
        h3.catalog-equipment__title РМ-1СМ-03
        img.catalog-equipment__img(src="./assets/img/equipment/07.png")

      a.catalog-equipment__item(href="rm-s-sn.html")
        h3.catalog-equipment__title РМ-С/СН
        img.catalog-equipment__img(src="./assets/img/equipment/08.png")

      a.catalog-equipment__item(href="mks-a03.html")
        h3.catalog-equipment__title МКС-А03
        img.catalog-equipment__img(src="./assets/img/equipment/09.png")

      a.catalog-equipment__item(href="mks-a07.html")
        h3.catalog-equipment__title МКС-А07
        //img.catalog-equipment__img(src="./assets/img/equipment/10.png")
