section.equipment#equipment
  .equipment__container.container
    h2.title-section Оборудование
    
    ul.equipment__catalog.catalog-equipment
    
      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее

      li.catalog-equipment__item
        h3.catalog-equipment__title Монитор ручной радиационный "ГНОМ 2" ТМГИ81
        img.catalog-equipment__img(src="https://svoy-vetrogenerator.ru/wp-content/uploads/2/0/5/2050be839ed9fe213d179e92b8ff5b7e.png")
        a.catalog-equipment__link(href="##") Далее
