.equipment

  .catalog-equipment
    display: grid
    grid-template-columns: repeat(5, 1fr)
    gap: 24px
    @media(max-width: $width-tablet)
      grid-template-columns: repeat(3, 1fr)
    @media(max-width: $width-mobile)
      grid-template-columns: repeat(2, 1fr)
      gap: 14px

    &__item
      position: relative
      display: flex
      flex-direction: column
      gap: 8px
      border: 2px solid $lightgrey
      padding: 12px
      transition: $transition
      &:hover
        background-color: #F7F7F7
        border-color: #F7F7F7
      &:hover .catalog-equipment__title
        color: $bg
      @media(max-width: $width-mobile)
        padding: 8px

    &__title
      font-weight: 700
      text-transform: uppercase
      transition: $transition

    &__img
      width: 100%
      object-fit: cover