footer.footer#footer
    .footer__container.container
        a.footer__logo(href="index.html")
            img(src="./assets/img/logo.png")

        nav.footer__nav.footer-nav
            ul.footer-nav__list
                li.footer-nav__item
                    a.footer-nav__link(href="#equipment") Оборудование
                li.footer-nav__item
                    a.footer-nav__link(href="#about-us") О нас
                li.footer-nav__item
                    a.footer-nav__link(href="##") Портфолио

        address.footer__contacts.footer-contacts
            h2.footer__title Контакты
            a.footer-contacts__item(href="tel:+78126482388") +7 (812) 648-23-88
            a.footer-contacts__item(href="mailto:info@radiationmonitors.ru") info@radiationmonitors.ru
            p.footer-contacts__address 197183, г. Санкт-Петербург,ул. Сестрорецкая дом 8, литера А,пом. 21-Н, офис 7

        .footer__timetable
            h2.footer__title Часы работы
            span Пн-Вс
            span 10:00 - 18:00

        .footer__map
            #footer-map

        .footer__copyright
            span © ООО «Система», 2023
            a.footer__politics(href="##") Политика конфиденциальности

include ../loader/loader

