section.about-us
    .about-us__container.container
        h2.title-section О нас
        .about-us__box
            .about-us__img Карта

            ul.about-us__values
                li.about-us__value.about-us-value
                    span 100+
                    span Единиц оборудования поставлено

                li.about-us__value.about-us-value
                    span 38
                    span Тонн отходов утилизировано

                li.about-us__value.about-us-value
                    span 24
                    span Сотрудника в штате

                li.about-us__value.about-us-value
                    span 5
                    span Лет на рынке
