section.about-us#about-us
    .about-us__container.container
        h2.title-section.h-line О нас
        .about-us__box
            img.about-us__img(src="../assets/img/map.png")

            ul.about-us__statistics.about-us-statistics
                li.about-us-statistics__item
                    span.about-us-statistics__value#value1 0
                    span.about-us-statistics__text Единиц оборудования поставлено

                li.about-us-statistics__item
                    span.about-us-statistics__value#value2 0
                    span.about-us-statistics__text Объектов на обслуживании

                li.about-us-statistics__item
                    span.about-us-statistics__value#value3 0
                    span.about-us-statistics__text Сотрудника в штате

                li.about-us-statistics__item
                    span.about-us-statistics__value#value4 0
                    span.about-us-statistics__text Лет на рынке
