header.header
    .header__container.container(itemscope itemtype="https://schema.org/Organization")
        a.header__logo.transition(href="index.html" itemprop="url")
          img(src="./assets/img/logo.png" alt="Логотип ООО «Система»")

        nav.header__nav
            button.header__nav-close
                img(src="./assets/img/icons/arrow-back.svg" alt="Кнопка назад")
            ul.header__nav-list
                li.header__nav-item.header__nav-item--desktop-hidden
                    a.header__nav-link.transition(href="index.html") Главная
                li.header__nav-item
                    a.header__nav-link(href="index.html#equipment") Оборудование
                li.header__nav-item
                    a.header__nav-link(href="index.html#about-us") О нас
                li.header__nav-item
                    a.header__nav-link(href="index.html#portfolio") Портфолио
                li.header__nav-item
                    a.header__nav-link(href="#feedback") Задать вопрос
                li.header__nav-item
                    a.header__nav-link(href="#footer") Контакты

        a.header__contacts.header__contacts--email(href="mailto:sistem2019@yandex.ru")
            include ../../img/icons/mail.svg
            span sistem2019@yandex.ru

        a.header__contacts.header__contacts--tel(href="tel:+78126482388" itemprop="telephone" content="+78126482388")
            include ../../img/icons/phone.svg
            span +7 (812) 648-23-88



        button.header__burger
            img(src="./assets/img/icons/burger.svg" alt="Кнопка Меню")